{% load static %}
 <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

        

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                        <img
                            src="{% static 'img/GreyLogo.png'%}"
                            alt="Girl in a jacket"
                            width="120"
                            height="40">
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->
   