{% extends 'base.html' %}
{% load static%}
{% block content %}
<!-- Earnings (Monthly) Card Example -->
                
<div class="row">
        <!-- Tasks Card Example -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Jhon Kevin Segura</div>
                                <img src="{% static 'img/jhon.png'%}" width="100%">
                        </div>
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                Hello, I'm Kevin Segura, I finished a master's degree in telecommunications and I work in the banking sector and curious fact I like to travel and see new places.
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- Pending Requests Card Example -->
        <div class="col-xl-6 col-md-6 mb-6">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Julian Mesa</div>
                                <img src="{% static 'img/julian.png'%}" width="100%">
                        </div>
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                Hi I'm Julian Mesa master in Mathematical Sciences, I work in a Startup and fun fact I really like sports, I'm from Bogota.
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br></br>
    <div class="row">
                        <div class="col-xl-6 col-md-6 mb-6">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Maria Monsalve</div>
                                                <img src="{% static 'img/Maria.png'%}" width="100%">
                                        </div>
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                My name is Maria Monsalve. I was born in Arauca and currently live in Medellin. I am a recently graduated forestry engineer. I love to cook, ride my bike and I enjoy being in nature.
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-6 col-md-6 mb-6">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Jenny Cortes</div>
                                                <img src="{% static 'img/Jenny.png'%}" width="100%">
                                        </div>
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                My name is Jenny Cortés, I am a public accountant, I live in the city of Bogotá. I enjoy watching movies and series, reading, listening to music and traveling a lot.  I am full of curiosity about the things that surround me, so I love to learn new things every time I have the opportunity.
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                   
                    <br></br>
                    <div class="row">

<!-- Pending Requests Card Example -->
<div class="col-xl-6 col-md-6 mb-6">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        Lina Cepeda</div>
                        <img src="{% static 'img/lina.png'%}" width="100%">
                </div>
                <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                        My name is Lina Cepeda. I am an industrial engineer. In the last 3 years I have worked in a pharmaceutical company in the supply chain area. I love spending time with my family, practicing Yoga, reading and recently, learning about data analysis.
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


                        <!-- Tasks Card Example -->
                        <div class="col-xl-6 col-md-6 mb-6">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Jesus Zapata</div>
                                                <img src="{% static 'img/Jesus.png'%}" width="100%">
                                        </div>
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                Hi, I'm Jesus, I'm studying systems engineering, I'm from Medellin. I like music and everything related to art.
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <br></br>
{% endblock %}