{% extends 'base.html' %}
{% load static%}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Multiple linear regression</h1>
</div>


        <div class="row">
        
        <div class="col-lg-4 mr-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">The model</h6>
            </div>
            
            <div class="card-body">
        
            <p>
                A preprocessing of the data was made dividing them in two Datasets (train and test), then we used the training data to make the construction of a linear regression model, then, we used our test set to compare how efficient is the prediction of the model, for this we used the mean square error metric which gave us a considerably high number, we also made a scatter plot where the low efficiency of the model is evidenced.
            </p>
        </div>
    </div>
    </div>
    <div class="col-lg-7 mr-7">
        <img src="{% static 'img/LinearRegression.png'%}" width="100%">
    </div>
</div>
{% endblock %}